.pageContainer{
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-columns: 100%;
    place-items: center;
}

.cardContainer{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 1fr));
    align-items: stretch;
    justify-content: space-evenly;
}

.pageCard{
    height: 250px;
}